<h1>Editing service</h1>
<%= render 'form' %>

<%= link_to 'Back to this service', @service %> |
<%= link_to 'Back', services_path %> |
<%= link_to 'Back to site_services', site_services_path(@service.site) %>
