<h2>Hello <%= current_user.user_name%></h2>
<br />
<%unless current_user.company.blank?%>
<div class='col-lg-6'>
	<%= render :partial=>'pie_chart',:sites=>@sites, :pieChart=>@pieChart%>
</div>

<div class='col-lg-8'>
	<%= render :partial=>'line_chart',:sites=>@sites, :lineChart=>@lineChart%>
</div>

<%end%>
