// Place all the styles related to the Commentaries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.description-toggle {
  display: none;
  padding-top: 10px;
  padding-bottom: 10px;
}

.commentary-detail{
  font-size: 15px; 
  margin: 0;
}
