// Place all the styles related to the Commentaries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.description-toggle {
  display: none;
  padding-top: 10px;
  padding-bottom: 10px;
}

.commentary-detail{
  font-size: 12px; 
  margin: 0;
}
tbody{
  background-color: #AAF55B;
}
tbody tr {
  color: #222;
  background: rgba(255,255,255,.9);
  border-spacing: 2px;
  border-color: gray;
  font-family: arial,sans-serif;
  border-bottom: 1px #e5e5e5 solid;
  &:hover {
    color: #fff;
    background-color: rgba(255,255,255,0.2);
  }
}